<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Social number:</strong>
    <%= client.social_number %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= client.active %>
  </p>

</div>
