<%- content_for(:sidebar) do %>
    <div class="action">
      <%= link_to "View all clients", clients_path %>
    </div>
    <div class="action">
      <%= link_to "Edit this client", edit_client_path(@client) %>
    </div>
    <div class="action">
      <%= button_to "Destroy this client", @client, method: :delete %>
    </div>
<%- end %>

<%= render :template => 'layouts/application' %>
